{% extends "base.jinja2" %}

{% block content %}
    <div class="container">
        <h2>Search Questions</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-auto form-group">
                    {{ form.search(class="form-control") }}
                </div>
                <div class="col-auto form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                <div class="col-auto form-group">
                    <a href="{{ url_for('questions.add') }}" class="btn btn-success">Create Question</a>
                </div>
            </div>
        </form>

        {% if questions %}
            <h2>Search Results</h2>
            {% for question in questions %}
                <div class="card mb-3">
                    <a href="{{ url_for('questions.update', question_id=question.id) }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ question.text }}</h5>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
