{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/form.html' import render_form %}
{% from 'bootstrap5/nav.html' import render_nav_item, render_breadcrumb_item %}

{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
            {%- block head %}
                <title>Online Exams</title>

                {%- block metas %}
                    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
                {%- endblock metas %}

                {%- block styles %}
                    <!-- Bootstrap CSS -->
                    {{ bootstrap.load_css() }}
                    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
                {%- endblock styles %}
            {%- endblock head %}
        </head>
        <body{% block body_attribs %}{% endblock body_attribs %}>
        {%- block body %}
            {% if current_user.is_authenticated %}
                <div class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Online Exams</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('exams.search') }}">Exams</a>
                            </li>
                            {% if current_user.is_professor() %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('questions.search') }}">Questions</a>
                                </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> {{ current_user.username }}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="container">
                            {{ render_messages(messages) }}
                        </div>
                    {% endif %}
                {% endwith %}
            {% endif %}
            {% block content -%}
            {%- endblock content %}

            {% block scripts %}
                <!-- Optional JavaScript -->
                {{ bootstrap.load_js() }}
            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}
